* {
    padding: 0px;
    margin: 0px;
}

.logo {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 20%;
    border: 2px solid rgb(52, 159, 52);
    border-radius: 100px;
    margin: 16px 0px 0px 0px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav-list {
    width: 50%;
    /* background-color:black; */
    display: flex;
    /* justify-content:center; */
    align-items: center;
}

.rightNav {
    width: 50%;
    text-align: right;
    /* background-color:blueviolet; */
    margin: 0px 23px 0px 0px;
}
.rightNav .btn:hover{
font-size:15px;
}
.rightNav input:hover{
    height:21px;
}
.nav-list li {
    list-style: none;
    padding: 10px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 12px;
}

.nav-list li a {
    font-family: "Poppins", serif;
}

.nav-list li a:hover {
    box-shadow: 3px 4px 100000px 50px;
    color: rgb(65, 255, 255);
    border:1px solid aqua;
    border-radius:100px;
    font-size:20px;
}

#search {
    border: 2px solid rgb(52, 159, 52);
    border-radius: 10px;
    padding: 7px;
    background: none;
    color: white;
}

.background {
    background: rgb(0, 0, 0, 0.8) url("Land.jpg");
    background-size: cover;
    background-blend-mode: darken;

}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 60%;
    margin: auto;
}

.firstSection {
    height: 100vh;
}

.firstHalf {
    width: 80vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf img {
    /* height:123px;
    width:70%;
    border:2px solid grey;
    border-radius:100px 10px 100px 10px;
    display:block;
    margin:auto; */
    margin: 29px 0px 0px 30px;
    width: 323px;
    height: 200px;
    border: 2px solid rgb(166, 209, 162);
    border-radius: 92px;
    margin: 0px 0px 0px 12px;
    box-shadow: 3px 4px 100px 50px black;
}

.box-main {
    height: 70%;
}

.text-big {
    font-size: 32px;
    font-family: "Poppins", serif;
    margin: 12px 12px 12px 12px;
}

.text-small {
    font-size: 20px;
    text-align: justify;
    width: 800px;
    margin: 0px 12px 12px 12px;

}

.btn {
    padding: 8px;
    margin: 12px 5px 0px 0px;
    border: 2px solid rgb(52, 159, 52);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(23, 75, 23);
    color: rgb(0, 255, 0);
    margin: 9px 0px 0px 10px;
}

.navbar .rightNav .btn-sm {
    background: none;
    color: white;
    cursor: pointer;
    padding: 7px;
}

.secRight {
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    margin: auto;

}

.secRight .para {
    padding: 0px 120px 0px 120px;
}

.secRight .thubnail img {
    border-radius: 12px;
    margin: 50px 19px 0px -100px;
}

.two {
    display: flex;
    flex-direction: row-reverse;
    margin: -60px 0px 0px 238px;
}

.first {
    margin: 0px 0px 0px 80px;
}

.second {
    margin: -12px 0px 0px -180px;
}

.three {
    margin: -60px 0px 0px 80px;
}

.special {
    margin: 0px 0px 12px -182px;
}